@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 160%;
}

header {
    background-image: url("../imgs/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }

li.inline {
    display: inline;
    color: white;
    padding: 10px;
}

button {
    padding: 10px;
    border-radius: 30px;
    border-color: #255EE9;
}

.container {
    display: flex;
    padding: 100px;
    text-align: center;
    color: white;
    /*possiamo mettere in colonna e dare del row-gap per dare spazio a tutti gli elementi. Inoltre possiamo dare un widht:60% e margin:0 auto per centrare il tutto*/
}

div h1 {
    padding: 10px;
    margin-bottom: 10px;
}

.text {
    padding-inline: 200px;
}

.btn {
    padding: 15px;
    margin-top: 10px;
}

.btn.black {
    background-color: #23272A;
    color: white;
}

.flex-section {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.bg-color{
    background-color: #f6f6f6c9;
}

.wave {
    width: 100%;
    display: block;

}

.flex-section.reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 100px;
}

.flex-section.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

div.img-section {
    flex-basis: 40%;    
}

div.text-section {
    padding: 80px 100px;
    flex-basis: 60%;
}

h2 {
    font-size: 30px;
    margin-block: 15px;
}

.align-center{
    text-align: center;
}

.text-section.pattern {
    background-image: url(../imgs/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px; 
    /*width:50% del contenitore e margin 0 e auto sarebbe stata la scelta pi corretta per non occupare la linea intera*/
}

footer {
    background-color: #23272A;
    padding: 20px;
}

.container-footer {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.info.flex-basis {
    flex-basis: 25%;
}

.img-size {
    width: 30px;
    height: 20px;
}  

h2.color-purple {
    color: #7289DA;
}

#language {
    background-color: #23272A;
    border: #23272A;
}

div.info {
    padding: 20px 50px;
    flex-basis: calc(100% / 5);
}

.logo {
    padding-block: 10px;
}

h4 {
    color: #7289DA;;
}

li {
    color: white;
    padding: 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #7289DA;
    padding-block: 10px;
}

.btn-blue {
    background-color: #6C82CD;
    border-color: #6C82CD;
    color: white;
}